mixin txPreview(desc, amount, category, date, status)
    article.tx
        section.tx-block
            figure.tx-category.--#{category}
                img.tx-category-img(src="", alt="TX Image")
            section.tx-details.--desc
                h3.tx-title= desc
                time.tx-date(datetime="2022-04-02")= date
        section.tx-block
            section.tx-details.--amount
                .tx-amount= amount
                .tx-status.--#{status}= status